$vspace: 15px;
$hspace: 10px;

// colors

// $plum: #823352;
$plum: red;
$gullGray: #93adb5;
$sail: #9FCFD5;

// fonts
$mont: 'Montserrat', sans-serif;
$pacifico: 'Pacifico', cursive;
$lobster: 'Lobster', cursive;
