$vspace: 15px;
$hspace: 10px;

// colors

$plum: #823352;

$gullGray: #93adb5;
$sail: #afdcf8;

// fonts
$mont: 'Montserrat', sans-serif;
$pacifico: 'Pacifico', cursive;
$lobster: 'Lobster', cursive;
