<header ng-hide='portfolio.home'>
  <h1 ui-sref='PortfolioParent.home' ng-click="toggleActive('home')">lindsey adams</h1>
  <nav>
    <ul class='nav-bar'>
      <li><a ui-sref='PortfolioParent.about' class='active'>about</a></li>
      <li><a ui-sref='PortfolioParent.work'>work</a></li>
      <li><a ui-sref='PortfolioParent.contact'>contact</a></li>
    </ul>
  </nav>
</header>
<div class='about-container'>
  <div class='header-container'>
  <hr class='header one'>
  <h3>about me</h3>
  <hr class='header two'>
  </div>
  <div class='info-container'>
  <img class='profile' src='images/about_photo.jpg'>
  <div class='about-description'>
    <p class='dev'>I'm a Junior Front-End Engineer with a passion for creating. After four years in digital advertising, watching our talented developers create insane campaigns for huge clients, I decided web development was a skill I had a serious interest in learning.</p>
    <p class='personal'>When I need a break from the computer screen, I enjoy creating in the kitchen! I'm down for the challenge of anything from sushi to the temperamental French macaron.</p>
    <button class='resume'><a href='images/Lindsey_Adams_Resume.pdf' target='blank'>my resume</a></button>
  </div>
</div>
</div>
