<header ng-hide='portfolio.home'>
  <h1 ui-sref='PortfolioParent.home' ng-show='!showMenu'>lindsey adams</h1>
  <nav>
    <div class='mobile-menu main'><a ng-click='toggleMenu()' ng-show='!showMenu'>menu</a><a class='close' ng-click='toggleMenu()' ng-show='showMenu'>close</a></div>
    <ul class='nav-bar' ng-class="{'active': showMenu}">
      <li><a ui-sref='PortfolioParent.about' ng-click='toggleMenu(PortfolioParent.about)'>about</a></li>
      <li><a ui-sref='PortfolioParent.work' ng-click='toggleMenu(PortfolioParent.work)'>work</a></li>
      <li><a ui-sref='PortfolioParent.contact' class='active' ng-click='toggleMenu(PortfolioParent.contact)'>contact</a></li>
    </ul>
  </nav>
</header>
<div ng-cloak class='contact-container' ng-show='!showMenu'>
  <div class='header-container'>
  <hr class='header one'>
  <h3>contact me</h3>
  <hr class='header two'>
  </div>
  <div class='contact'>
    <div class='icons'>
      <div class='icon-container'>
        <a href='https://www.linkedin.com/in/lindsey-adams-279a4724'><img class='linkedin' alt='linkedin logo from flaticon.com' src='images/linkedin-logo.png'></a>
      </div>
      <div class='icon-container'>
        <a href='https://github.com/lindsma'><img class='github' alt='github logo' src='images/github-logo-black.png'></a>
      </div>
      <div class='icon-container'>
        <a href='https://www.twitter.com/lindsmadams'><img class='twitter' alt='twitter logo from flaticon.com' src='images/twitter-logo-silhouette.png'></a>
      </div>
    </div>
    <form method='POST' action="https://formspree.io/lindsmadams@gmail.com">
      <label for='name'>name</label>
      <input name='name' class='name' type='text'>
      <label for='email'>email</label>
      <input name='email' class='email' type='email'>
      <label for='message'>message</label>
      <input name='message' class='message' type='text'>
      <button class='submit' value='send'>send</button>
    </form>
  </div>

</div>
