<div class='home-container'>
  <div class='nav'>
    <ul class='nav-list'>
      <li><a ui-sref='PortfolioParent.about' ng-model='about' ng-class="{'active': about}" ng-click="toggleActive('about')">about</a></li>
      <li><a ui-sref='PortfolioParent.work' ng-model='work' ng-class="{'active': work}" ng-click="toggleActive('work')">work</a></li>
      <li><a ui-sref='PortfolioParent.contact' ng-model='contact' ng-class="{'active': contact}" ng-click="toggleActive('contact')">contact</a></li>
    </ul>
    <div class='home-triangle'>
    </div>
  </div>
  <div class='home-main'>
    <h1 class='name'>lindsey adams</h1>
    <p class='position'>front-end developer</p>
  </div>
</div>
