<div class='work-container'>
    <h3>my work</h1>
<section class='work-container'>
    <div class='project-container'>
        <div class='work codekarma'>
            <div class='triangle right'></div>
        </div>
        <ul class='project-details'>
            <li class='title'>Code Karma</li>
            <li class='description'>Utilized GitHub API to create a platform for nonprofits to connect with highly qualified developers.</li>
            <li class='skills'>AngularJS - JavaScript - AJAX - JQuery - JQuery UI - HTML5 - Sass</li>
        </ul>
    </div>
    <hr>
    <div class='project-container'>
        <ul class='project-details'>
            <li class='title'>Hatchery</li>
            <li class='description'>Online inventory and ordering system for buying and selling farm-fresh eggs. Utilized Weather Underground API for a fun "check on the chickens" feature</li>
            <li class='skills'>AngularJS - JavaScript - JQuery - AJAX - HTML5 - Sass</li>
        </ul>
        <div class='work hatchery'>
            <div class='triangle left'></div>
        </div>
    </div>
    <hr>
    <div class='project-container'>
        <div class='work petsy'>
            <div class='triangle left'></div>
        </div>
        <ul class='project-details'>
            <li class='title'>Petsy</li>
            <li class='description'></li>
            <li class='skills'></li>
        </ul>
    </div>
    <hr>
    <div class='project-container'>
        <ul class='project-details'>
            <li class='title'>brainsto.rm</li>
            <li class='description'></li>
            <li class='skills'></li>
        </ul>
        <div class='work brainstorm'>
            <div class='triangle left'></div>
        </div>
    </div>
</section>
</div>
