<header ng-hide='portfolio.home'>
  <h1 ui-sref='PortfolioParent.home' ng-show='!showMenu'>lindsey adams</h1>
  <nav>
    <div class='mobile-menu main'><a ng-click='toggleMenu()' ng-show='!showMenu'>menu</a><a class='close' ng-click='toggleMenu()' ng-show='showMenu'>close</a></div>
    <ul class='nav-bar' ng-class="{'active': showMenu}">
      <li><a ui-sref='PortfolioParent.about' ng-click='toggleMenu(PortfolioParent.about)'>about</a></li>
      <li><a ui-sref='PortfolioParent.work' class='active' ng-click='toggleMenu(PortfolioParent.work)'>work</a></li>
      <li><a ui-sref='PortfolioParent.contact' ng-click='toggleMenu(PortfolioParent.contact)'>contact</a></li>
    </ul>
  </nav>
</header>
<div ng-cloak class='work-main-container' ng-show='!showMenu'>
  <div class='header-container'>
    <hr class='header one'>
    <h3>my work</h3>
    <hr class='header two'>
  </div>
<section class='work-container'>

<div class='repeat-container' ng-repeat='project in projects'>
  <div class='project-container' ng-class-odd="'odd'" ng-class-even="'even'">
      <a href='project.github'>
      <div class='work' style="background-image: url({{project.background}}); background-size: contain; background-position: center;">
          <div class='triangle' ng-class-odd="'odd'" ng-class-even="'even'"></div>
      </div>
      </a>
      <ul class='project-details'>
          <li class='title'>{{project.title}}</li>
          <li class='description'>{{project.description}}</li>
          <li class='skills'>{{project.skills}}</li>
      </ul>
  </div>
  <hr class='divider'>
</div>
</section>
</div>
