.contact-container {
    .header-container {
        width: 90%;
    }

    .contact {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;

        .icons {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .icon-container {
            background: #fff;
            height: 150px;
            width: 150px;
            margin: 0 40px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            transition: all 0.75s ease;
            position: relative;

            &:hover {
                border: 3px solid $plum;
                cursor: pointer;
                height: 175px;
                width: 175px;
            }

            a {
                align-self: center;
            }

            img {
                height: 60px;
                align-self: center;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 60%;
            font-family: $mont;
            margin: 40px 0;

            label {
                margin-top: 20px;
            }

            input {
                border: 0;
                border-bottom: 1px solid #333;
                background: transparent;
                height: 40px;
                font-size: 20px;
            }

            .submit {
                align-self: flex-end;
                background: rgba(255,255,255, .9);
                border: 2px solid #333;
                color: $plum;
                font-family: $mont;
                font-size: 18px;
                height: 40px;
                margin: 40px 0;
                opacity: 0.8;
                width: 130px;

                &:hover {
                    background: rgba(130,51,82, .9);
                    border: 2px solid white;
                    border-radius: 10px;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
