header {
    background: $plum;
    display: flex;
    justify-content: space-between;
    height: 90px;

    h1 {
        color: white;
        font-family: $pacifico;
        font-size: 42px;
        line-height: 90px;
        margin-left: 40px;

        &:hover {
          cursor: pointer;
        }
    }

    .nav-bar {
        display: flex;
        font-family: $mont;
        font-size: 25px;
        justify-content: space-between;
        line-height: 90px;
        margin-right: 40px;

        li {
          margin-left: 50px;

          a {
            text-decoration: none;
            color: $sail;
            padding-bottom: 5px;

            &:hover {
              color: white;
            }

            &.active {
              color: white;
              border-bottom: 5px solid $sail;
            }
          }
        }
    }
}

.header-container {
    display: flex;
    margin-top: 40px;
    margin: 40px auto 0 auto;

    h3 {
        align-self: center;
        display: inline;
        font-family: $mont;
        color: #333;
        font-weight: 900;
        font-size: 60px;
        line-height: 80px;
        letter-spacing: 0.2em;
        text-align: center;
    }

    hr.header {
        align-self: center;
        border: 0;
        height: 0;
        width: 25%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        &.one {
          margin-left: 0
        }

        &.two {
          margin-right: 0;
        }
    }
}
