.work-main-container .header-container {
    width: 90%;
}

.work-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .work {
        position: relative;
        border: 6px solid $sail;
        border-radius: 3px;
        width: 500px;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
        transition: all 0.5s ease;
        @include media(desktop) {
            width: 420px;
        }
        @include media(tabletLarge) {
            width: 380px;
        }
        @include media(tablet) {
            height: 230px;
            align-self: center;
            margin-bottom: 30px;
        }
        @include media(mobile) {
            width: 300px;
            height: 170px;
        }

        .triangle {
            width: 0;
            height: 0;
            position: absolute;
            border-style: solid;

            &.right {
                border-width: 25px 0 25px 20px;
                border-color: transparent transparent transparent $sail;
                top: 30px;
                right: -21px;
                @include media(tablet) {
                    border-width: 20px 25px 0 25px;
                    border-color: $sail transparent transparent transparent;
                    right: 50%;
                    transform: translateX(50%);
                    top: 100%;
                }
            }

            &.left {
                border-width: 25px 20px 25px 0;
                border-color: transparent $sail transparent transparent;
                top: 30px;
                left: -21px;
                @include media(tablet) {
                    border-width: 20px 25px 0 25px;
                    border-color: $sail transparent transparent transparent;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 100%;
                }
            }
        }
    }

    .work.codekarma {
        background: url('../../images/codekarma.png') no-repeat $sail;
        background-size: cover;
        background-position: center;
        @include media(desktop) {
            background-size: contain;
        }
    }

    .work.hatchery {
        background: url('../../images/hatchery.png') no-repeat $sail;
        background-size: cover;
        background-position: center;
        @include media(desktop) {
            background-size: contain;
        }
    }

    .work.petsy {
        background: url('../../images/petsy.png') no-repeat $sail;
        background-size: cover;
        background-position: center;
        @include media(desktop) {
            background-size: contain;
        }
    }

    .work.brainstorm {
        background: url('../../images/brainstorm.png') no-repeat $sail;
        background-size: cover;
        background-position: center;
        @include media(desktop) {
            background-size: contain;
        }
    }

    .project-container {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        &:nth-of-type(even) {
            @include media(tablet) {
                flex-direction: column-reverse;
            }
        }
        @include media(tablet) {
            flex-direction: column;
            justify-content: center;
            margin: 40px 0 20px;
        }
        @include media(mobileLarge) {
            margin-bottom: 10px;
        }

        .project-details {
            font-family: $mont;
            text-align: justify;
            height: 250px;
            width: 45%;
            position: relative;
            @include media(desktopLarge) {
                width: 40%;
            }
            @include media(tabletLarge) {
                font-size: 15px;
            }
            @include media(tablet) {
                width: 80%;
                align-self: center;
                height: 200px;
            }
            @include media(mobileLarge) {
                height: 220px;
            }
            @include media(mobile) {
                height: 240px;
            }

            .title {
                color: #333;
                font-size: 30px;
                font-weight: bold;
                margin: 10px 0 20px;
                @include media(tablet) {
                    text-align: center;
                }
            }

            .description {
                color: #333;
                line-height: 20px;
                margin-top: 30px;
                @include media(tabletLarge) {
                    margin-top: 20px;
                }
                @include media(tablet) {
                    text-align: justify;
                }
            }

            .skills {
                position: absolute;
                line-height: 30px;
                color: $plum;
                bottom: 15px;
                @include media(tabletLarge) {
                    line-height: 24px;
                }
                @include media(tablet) {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

hr.divider {
    border: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
