.work-main-container  hr.header{
    width: 33%;
}

.work-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .work {
        position: relative;
        border: 6px solid $sail;
        border-radius: 3px;
        width: 500px;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;

        .triangle {
            width: 0;
            height: 0;
            position: absolute;
            border-style: solid;

            &.right {
                border-width: 25px 0 25px 20px;
                border-color: transparent transparent transparent $sail;
            }

            &.left {
                border-width: 25px 20px 25px 0;
                border-color: transparent $sail transparent transparent;
            }
        }
    }

    .work.codekarma {
        background: url('../../images/codekarma.png') no-repeat;
        background-size: cover;
    }

    .work.hatchery {
        background: url('../../images/hatchery.png') no-repeat;
        background-size: cover;
    }

    .work.petsy {
        background: url('../../images/petsy.png') no-repeat;
        background-size: cover;
    }

    .work.brainstorm {
        background: url('../../images/brainstorm.png') no-repeat;
        background-size: cover;
    }

    .project-container {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        .project-details {
            font-family: $mont;
            text-align: justify;
            height: 250px;
            width: 45%;
            position: relative;

            .title {
                color: #333;
                font-size: 30px;
                font-weight: bold;
                margin: 10px 0 20px;
            }

            .description {
                color: #333;
                line-height: 20px;
                margin-top: 30px;
            }

            .skills {
                position: absolute;
                line-height: 30px;
                color: $plum;
                bottom: 15px;
            }
        }
    }
}

.triangle.right {
    top: 30px;
    right: -21px;
}

.triangle.left {
    top: 30px;
    left: -21px;
}

hr.divider {
    border: 0;
    height: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
