/****** Vendor Imports ******/
/********** Setup ***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  height: 100vh;
  line-height: 1;
  width: 100vw; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: url("../../images/brickwall.png"); }

/***** Site Components ******/
header {
  background: #823352;
  display: flex;
  justify-content: space-between;
  height: 90px; }
  header h1 {
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 42px;
    line-height: 90px;
    margin-left: 40px; }
  header .nav-bar {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    justify-content: space-between;
    line-height: 90px;
    margin-right: 40px; }
    header .nav-bar li {
      margin-left: 50px; }
      header .nav-bar li a {
        text-decoration: none;
        color: #afdcf8; }
        header .nav-bar li a:hover {
          color: white; }

.header-container {
  display: flex;
  margin-top: 40px;
  width: 90%;
  margin: 40px auto 0 auto; }
  .header-container h3 {
    align-self: center;
    display: inline;
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.2em;
    text-align: center; }
  .header-container hr.header {
    align-self: center;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .header-container hr.header.one {
      margin-left: 0; }
    .header-container hr.header.two {
      margin-right: 0; }

.contact-container hr.header {
  width: 27%; }
.contact-container h1 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-align: center;
  padding-top: 30px; }
.contact-container hr {
  margin-top: 25px;
  width: 60%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.contact-container .contact {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap; }
  .contact-container .contact .icons {
    display: flex;
    width: 100%;
    justify-content: center; }
  .contact-container .contact .icon-container {
    background: #fff;
    height: 150px;
    width: 150px;
    margin: 0 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: all .75s ease;
    position: relative; }
    .contact-container .contact .icon-container:hover {
      border: 3px solid #823352;
      cursor: pointer;
      height: 175px;
      width: 175px; }
    .contact-container .contact .icon-container a {
      align-self: center; }
    .contact-container .contact .icon-container img {
      height: 60px;
      align-self: center; }
  .contact-container .contact form {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: "Montserrat", sans-serif;
    margin: 40px 0; }
    .contact-container .contact form label {
      margin-top: 20px; }
    .contact-container .contact form input {
      border: 0;
      border-bottom: 1px solid #333;
      background: transparent;
      height: 40px;
      font-size: 20px; }
    .contact-container .contact form .submit {
      width: 60px;
      height: 40px;
      margin-top: 20px;
      align-self: flex-end;
      border-radius: 5px;
      border: none; }

.work-main-container hr.header {
  width: 33%; }

.work-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .work-container .work {
    position: relative;
    border: 6px solid #afdcf8;
    border-radius: 3px;
    width: 500px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black; }
    .work-container .work .triangle {
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid; }
      .work-container .work .triangle.right {
        border-width: 25px 0 25px 20px;
        border-color: transparent transparent transparent #afdcf8; }
      .work-container .work .triangle.left {
        border-width: 25px 20px 25px 0;
        border-color: transparent #afdcf8 transparent transparent; }
  .work-container .work.codekarma {
    background: url("../../images/codekarma.png") no-repeat;
    background-size: cover; }
  .work-container .work.hatchery {
    background: url("../../images/hatchery.png") no-repeat;
    background-size: cover; }
  .work-container .work.petsy {
    background: url("../../images/petsy.png") no-repeat;
    background-size: cover; }
  .work-container .work.brainstorm {
    background: url("../../images/brainstorm.png") no-repeat;
    background-size: cover; }
  .work-container .project-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0; }
    .work-container .project-container .project-details {
      font-family: "Montserrat", sans-serif;
      text-align: justify;
      height: 250px;
      width: 45%;
      position: relative; }
      .work-container .project-container .project-details .title {
        color: #333;
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0 20px; }
      .work-container .project-container .project-details .description {
        color: #333;
        line-height: 20px;
        margin-top: 30px; }
      .work-container .project-container .project-details .skills {
        position: absolute;
        line-height: 30px;
        color: #823352;
        bottom: 15px; }

.triangle.right {
  top: 30px;
  right: -21px; }

.triangle.left {
  top: 30px;
  left: -21px; }

hr.divider {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/*# sourceMappingURL=main.css.map */
