/****** Vendor Imports ******/
/********** Setup ***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  height: 100vh;
  line-height: 1;
  width: 100vw; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: url("../../images/brickwall.png"); }

/***** Site Components ******/
.mobile-menu {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: none;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 80px;
  text-align: right;
  width: 100%; }
  .mobile-menu a {
    padding-right: 20px; }
    .mobile-menu a:hover {
      cursor: pointer;
      color: #823352; }
    .mobile-menu a.close {
      color: #823352; }
  .mobile-menu.main {
    line-height: 90px;
    height: 90px; }
    .mobile-menu.main a:hover {
      color: #9FCFD5; }
    .mobile-menu.main a.close {
      color: #9FCFD5; }
    @media only screen and (max-width: 460px) {
      .mobile-menu.main a {
        font-size: 25px; } }
    @media only screen and (max-width: 400px) {
      .mobile-menu.main a {
        font-size: 20px;
        padding-right: 10px; } }
    @media only screen and (max-width: 630px) {
      .mobile-menu.main {
        display: block; } }
  @media only screen and (max-width: 400px) {
    .mobile-menu {
      display: block; } }

header {
  background: #823352;
  display: flex;
  justify-content: space-between;
  height: 90px; }
  header h1 {
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 42px;
    line-height: 90px;
    margin-left: 40px; }
    header h1:hover {
      cursor: pointer; }
    @media only screen and (max-width: 770px) {
      header h1 {
        margin-left: 20px; } }
    @media only screen and (max-width: 460px) {
      header h1 {
        font-size: 35px; } }
    @media only screen and (max-width: 400px) {
      header h1 {
        font-size: 30px;
        margin-left: 10px; } }
  header .nav-bar {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    justify-content: space-between;
    line-height: 90px;
    margin-right: 40px; }
    @media only screen and (max-width: 770px) {
      header .nav-bar {
        margin-right: 20px; } }
    @media only screen and (max-width: 630px) {
      header .nav-bar {
        display: none; }
        header .nav-bar.active {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          background: #9FCFD5;
          margin: 0;
          min-height: 100vh;
          width: 100vw;
          text-align: center;
          z-index: 50; }
          header .nav-bar.active li {
            margin: 20px 0;
            height: 40px; }
          header .nav-bar.active a {
            color: white;
            font-size: 35px;
            font-weight: bold;
            letter-spacing: 0.1em; }
            header .nav-bar.active a:hover {
              color: #823352; } }
    header .nav-bar li {
      margin-left: 50px; }
      @media only screen and (max-width: 770px) {
        header .nav-bar li {
          margin-left: 30px; } }
      header .nav-bar li a {
        text-decoration: none;
        color: #9FCFD5;
        padding-bottom: 5px; }
        header .nav-bar li a:hover {
          color: white; }
        header .nav-bar li a.active {
          color: white;
          border-bottom: 5px solid #9FCFD5; }

.header-container {
  display: flex;
  margin-top: 40px;
  margin: 40px auto 0 auto; }
  .header-container h3 {
    align-self: center;
    display: inline;
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.2em;
    padding: 0 5px;
    text-align: center;
    transition: all .5s ease; }
    @media only screen and (max-width: 770px) {
      .header-container h3 {
        font-size: 50px;
        line-height: 50px; } }
    @media only screen and (max-width: 605px) {
      .header-container h3 {
        font-size: 40px;
        line-height: 40px; } }
    @media only screen and (max-width: 460px) {
      .header-container h3 {
        letter-spacing: 0.1em; } }
  .header-container hr.header {
    align-self: center;
    border: 0;
    height: 0;
    width: 25%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .header-container hr.header.one {
      margin-left: 0; }
    .header-container hr.header.two {
      margin-right: 0; }
    @media only screen and (max-width: 970px) {
      .header-container hr.header {
        width: 21%; } }
    @media only screen and (max-width: 770px) {
      .header-container hr.header {
        width: 18%; } }
    @media only screen and (max-width: 605px) {
      .header-container hr.header {
        width: 15%; } }

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 40px auto;
  width: 90%;
  z-index: 5; }
  .about-container .header-container {
    width: 100%;
    margin-bottom: 20px; }
  .about-container .info-container {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 770px) {
      .about-container .info-container {
        flex-direction: column; } }
    .about-container .info-container .about-description {
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 0 40px 65px; }
      @media only screen and (max-width: 1060px) {
        .about-container .info-container .about-description {
          margin-top: 20px; } }
      @media only screen and (max-width: 770px) {
        .about-container .info-container .about-description {
          margin: 20px 20px 40px; } }
      .about-container .info-container .about-description p {
        align-self: center;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        line-height: 27px; }
        .about-container .info-container .about-description p.personal {
          margin-top: 20px; }
        @media only screen and (max-width: 770px) {
          .about-container .info-container .about-description p {
            text-align: justify; } }
        @media only screen and (max-width: 400px) {
          .about-container .info-container .about-description p {
            line-height: 25px; } }
      .about-container .info-container .about-description .resume {
        align-self: center;
        background: rgba(255, 255, 255, 0.9);
        border: 2px solid #333;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        height: 40px;
        margin-top: 40px;
        opacity: 0.8;
        transition: all 0.5s ease;
        width: 130px; }
        .about-container .info-container .about-description .resume:hover {
          background: rgba(130, 51, 82, 0.9);
          border: 2px solid white;
          border-radius: 10px;
          cursor: pointer; }
          .about-container .info-container .about-description .resume:hover a {
            color: white; }
        .about-container .info-container .about-description .resume a {
          text-decoration: none;
          color: #823352; }
    .about-container .info-container img.profile {
      align-self: center;
      border-radius: 50%;
      height: 350px;
      opacity: 0.8;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 1060px) {
        .about-container .info-container img.profile {
          height: 320px;
          align-self: flex-start;
          margin-top: 20px; } }
      @media only screen and (max-width: 770px) {
        .about-container .info-container img.profile {
          align-self: center;
          margin-bottom: 20px;
          margin-top: 0; } }
      @media only screen and (max-width: 605px) {
        .about-container .info-container img.profile {
          height: 280px;
          margin-bottom: 10px; } }

.contact-container .header-container {
  width: 90%; }
.contact-container .contact {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap; }
  .contact-container .contact .icons {
    display: flex;
    width: 100%;
    justify-content: center; }
  .contact-container .contact .icon-container {
    background: #fff;
    height: 150px;
    width: 150px;
    margin: 0 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: all 0.75s ease;
    position: relative; }
    @media only screen and (max-width: 630px) {
      .contact-container .contact .icon-container {
        height: 120px;
        margin: 0 25px;
        width: 120px; } }
    @media only screen and (max-width: 460px) {
      .contact-container .contact .icon-container {
        height: 100px;
        width: 100px; } }
    @media only screen and (max-width: 400px) {
      .contact-container .contact .icon-container {
        margin: 0 15px;
        height: 80px; } }
    .contact-container .contact .icon-container:hover {
      border: 3px solid #823352;
      cursor: pointer;
      transform: scale(1.2); }
    .contact-container .contact .icon-container a {
      align-self: center; }
    .contact-container .contact .icon-container img {
      height: 60px;
      align-self: center; }
      @media only screen and (max-width: 630px) {
        .contact-container .contact .icon-container img {
          height: 50px; } }
      @media only screen and (max-width: 400px) {
        .contact-container .contact .icon-container img {
          height: 40px; } }
  .contact-container .contact form {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: "Montserrat", sans-serif;
    margin: 40px 0; }
    @media only screen and (max-width: 770px) {
      .contact-container .contact form {
        width: 75%; } }
    .contact-container .contact form label {
      margin-top: 20px; }
    .contact-container .contact form input {
      border: 0;
      border-bottom: 1px solid #333;
      background: transparent;
      height: 40px;
      font-size: 20px; }
    .contact-container .contact form .submit {
      align-self: flex-end;
      background: rgba(255, 255, 255, 0.9);
      border: 2px solid #333;
      color: #823352;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      height: 40px;
      margin: 40px 0;
      opacity: 0.8;
      width: 130px; }
      @media only screen and (max-width: 605px) {
        .contact-container .contact form .submit {
          align-self: center; } }
      .contact-container .contact form .submit:hover {
        background: rgba(130, 51, 82, 0.9);
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        cursor: pointer; }

.home-container {
  width: 100vw;
  min-height: 100vh;
  background: #823352;
  display: flex; }
  @media only screen and (max-width: 605px) {
    .home-container {
      flex-direction: column; } }
  .home-container .nav {
    height: 100vh;
    width: 18%;
    background: #9FCFD5;
    position: relative; }
    @media only screen and (max-width: 970px) {
      .home-container .nav {
        width: 22%; } }
    @media only screen and (max-width: 770px) {
      .home-container .nav {
        width: 25%; } }
    @media only screen and (max-width: 605px) {
      .home-container .nav {
        height: 80px;
        width: 100%; } }
    .home-container .nav .nav-list {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center; }
      @media only screen and (max-width: 605px) {
        .home-container .nav .nav-list {
          flex-direction: row; } }
      @media only screen and (max-width: 460px) {
        .home-container .nav .nav-list {
          margin: 0 10px;
          justify-content: space-between; } }
      @media only screen and (max-width: 400px) {
        .home-container .nav .nav-list {
          display: none; }
          .home-container .nav .nav-list.active {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background: #9FCFD5;
            min-height: 100vh;
            padding: 40px 0 0;
            margin: 0;
            text-align: center; }
            .home-container .nav .nav-list.active li {
              margin: 20px 0; } }
      .home-container .nav .nav-list li {
        align-self: center;
        display: flex;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 0.1em;
        transition: all 0.5s ease; }
        @media only screen and (max-width: 1130px) {
          .home-container .nav .nav-list li {
            font-size: 30px; } }
        @media only screen and (max-width: 630px) {
          .home-container .nav .nav-list li {
            font-size: 25px; } }
        @media only screen and (max-width: 605px) {
          .home-container .nav .nav-list li {
            font-size: 30px;
            width: 33.33%; } }
        @media only screen and (max-width: 460px) {
          .home-container .nav .nav-list li {
            font-size: 25px; } }
        .home-container .nav .nav-list li:hover a {
          color: #823352; }
        .home-container .nav .nav-list li:nth-of-type(2) {
          margin: 35px 0; }
          @media only screen and (max-width: 605px) {
            .home-container .nav .nav-list li:nth-of-type(2) {
              margin: 0; } }
        .home-container .nav .nav-list li a {
          text-decoration: none;
          color: white;
          width: 100%;
          text-align: center; }
          .home-container .nav .nav-list li a:hover {
            cursor: pointer; }
    .home-container .nav .home-triangle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 0 25px 20px;
      border-color: transparent transparent transparent #9FCFD5; }
      @media only screen and (max-width: 605px) {
        .home-container .nav .home-triangle {
          border-width: 20px 25px 0 25px;
          border-color: #9FCFD5 transparent transparent transparent;
          width: 0;
          height: 0;
          border-style: solid;
          left: 50%;
          transform: translateX(-50%);
          top: 100%; } }
  .home-container .home-main {
    align-self: center;
    width: 82%; }
    @media only screen and (max-width: 770px) {
      .home-container .home-main {
        width: 75%; } }
    @media only screen and (max-width: 605px) {
      .home-container .home-main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%; } }
    .home-container .home-main h1 {
      color: white;
      font-family: "Pacifico", cursive;
      font-size: 85px;
      line-height: 100px;
      text-align: center; }
      @media only screen and (max-width: 770px) {
        .home-container .home-main h1 {
          font-size: 65px; } }
      @media only screen and (max-width: 460px) {
        .home-container .home-main h1 {
          font-size: 55px; } }
      @media only screen and (max-width: 400px) {
        .home-container .home-main h1 {
          font-size: 45px; } }
    .home-container .home-main p {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      letter-spacing: 0.05em;
      margin-top: 40px;
      text-align: center; }
      @media only screen and (max-width: 770px) {
        .home-container .home-main p {
          font-size: 25px;
          margin-top: 20px; } }
      @media only screen and (max-width: 460px) {
        .home-container .home-main p {
          font-size: 20px;
          margin-top: 7px; } }

.work-main-container .header-container {
  width: 90%; }

.work-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .work-container a {
    align-self: center; }
  .work-container .work {
    align-self: center;
    background: #9FCFD5;
    background-repeat: no-repeat;
    position: relative;
    border: 6px solid #9FCFD5;
    border-radius: 3px;
    height: 250px;
    width: 500px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 1060px) {
      .work-container .work {
        width: 420px;
        height: 210px; } }
    @media only screen and (max-width: 970px) {
      .work-container .work {
        width: 380px;
        height: 200px; } }
    @media only screen and (max-width: 770px) {
      .work-container .work {
        margin-bottom: 30px; } }
    @media only screen and (max-width: 460px) {
      .work-container .work {
        width: 300px;
        height: 170px; } }
    .work-container .work:hover {
      cursor: pointer; }
    .work-container .work .triangle {
      width: 0;
      height: 0;
      position: absolute;
      border-style: solid; }
      .work-container .work .triangle.odd {
        border-width: 25px 0 25px 20px;
        border-color: transparent transparent transparent #9FCFD5;
        top: 30px;
        right: -21px; }
        @media only screen and (max-width: 770px) {
          .work-container .work .triangle.odd {
            border-width: 20px 25px 0 25px;
            border-color: #9FCFD5 transparent transparent transparent;
            right: 50%;
            transform: translateX(50%);
            top: 100%; } }
      .work-container .work .triangle.even {
        border-width: 25px 20px 25px 0;
        border-color: transparent #9FCFD5 transparent transparent;
        top: 30px;
        left: -21px; }
        @media only screen and (max-width: 770px) {
          .work-container .work .triangle.even {
            border-width: 20px 25px 0 25px;
            border-color: #9FCFD5 transparent transparent transparent;
            left: 50%;
            transform: translateX(-50%);
            top: 100%; } }
  .work-container .project-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0; }
    .work-container .project-container.even {
      flex-direction: row-reverse; }
      @media only screen and (max-width: 770px) {
        .work-container .project-container.even {
          flex-direction: column;
          justify-content: center;
          margin: 40px 0 20px; } }
    @media only screen and (max-width: 770px) {
      .work-container .project-container:nth-of-type(even) {
        flex-direction: column-reverse; } }
    @media only screen and (max-width: 770px) {
      .work-container .project-container {
        flex-direction: column;
        justify-content: center;
        margin: 40px 0 20px; } }
    @media only screen and (max-width: 605px) {
      .work-container .project-container {
        margin-bottom: 10px; } }
    .work-container .project-container .project-details {
      font-family: "Montserrat", sans-serif;
      text-align: justify;
      height: 250px;
      width: 45%;
      position: relative; }
      @media only screen and (max-width: 1130px) {
        .work-container .project-container .project-details {
          width: 40%; } }
      @media only screen and (max-width: 970px) {
        .work-container .project-container .project-details {
          font-size: 15px; } }
      @media only screen and (max-width: 770px) {
        .work-container .project-container .project-details {
          width: 80%;
          align-self: center;
          height: 200px; } }
      @media only screen and (max-width: 605px) {
        .work-container .project-container .project-details {
          height: 220px; } }
      @media only screen and (max-width: 460px) {
        .work-container .project-container .project-details {
          height: 240px; } }
      .work-container .project-container .project-details .title {
        color: #333;
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0 20px; }
        @media only screen and (max-width: 770px) {
          .work-container .project-container .project-details .title {
            text-align: center; } }
      .work-container .project-container .project-details .description {
        color: #333;
        line-height: 20px;
        margin-top: 30px; }
        @media only screen and (max-width: 970px) {
          .work-container .project-container .project-details .description {
            margin-top: 20px; } }
        @media only screen and (max-width: 770px) {
          .work-container .project-container .project-details .description {
            text-align: justify; } }
      .work-container .project-container .project-details .skills {
        position: absolute;
        line-height: 30px;
        color: #823352;
        bottom: 15px; }
        @media only screen and (max-width: 970px) {
          .work-container .project-container .project-details .skills {
            line-height: 24px; } }
        @media only screen and (max-width: 770px) {
          .work-container .project-container .project-details .skills {
            text-align: center;
            width: 100%; } }

hr.divider {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.repeat-container:last-child hr {
  display: none; }

/*# sourceMappingURL=main.css.map */
